@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.btn-primary {
  padding: 16px 20px;
  text-align: center;
  color: white;
  background-color: rgba(255, 89, 89, 1);
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

/* Header Styles */

/* Hero Styles */
.hero-container {
  text-align: center;
  margin: 100px 200px 100px;
  margin-bottom: 130px;

}

.hero-container h3 {
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 20px;
}

.hero-container p {
  font-size: 18px;
  font-weight: 400px;
  margin-bottom: 30px;
}

/* Main Styles */

/* Donate Pay Styles */
.donate-pay {
  text-align: center;
  margin-bottom: 100px;
}

.donate-pay h3 {
  color: rgba(18, 18, 18, 1);
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 20px;
}

.donate-pay p {
  color: rgba(112, 112, 112, 1);
  font-size: 18px;
  font-weight: 400;
}

.donate-pay-cards {
  margin-top: 50px;
  display: flex;
  gap: 22px;
  align-items: center;
  justify-content: center;
}

.donate-pay-card {
  background-color: rgba(250, 250, 250, 1);
  border-radius: 10px;
  padding: 20px 30px;
  text-align: center;
}

#special-card {
  background-color: rgba(255, 238, 238, 1);
  border: 2px solid rgba(255, 89, 89, 1);
}

#special-card h3 {
  color: rgba(255, 89, 89, 1);
}

.donate-pay-card h3 {
  color: rgba(112, 112, 112, 1);
}

.donate-pay input {
  margin-top: 60px;
  margin-right: 10px;
  padding: 16px 20px;
  border: 2px solid rgba(112, 112, 112, 1);
  border-radius: 5px;
  font-size: 15px;
}

/* Media Query Design */
@media screen and (max-width: 576px) {
  /* Header Styles */

  /* Hero Styles */
  .hero-container {
    margin: 50px 50px 100px;
  }

  .hero-container h3 {
    font-size: 35px;
  }

  .hero-container p {
    font-size: 16px;
  }

}