@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.btn-primary {
  padding: 16px 20px;
  text-align: center;
  color: white;
  background-color: rgba(255, 89, 89, 1);
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
}

/* Header Styles */

/* Hero Styles */
.hero-container {
  text-align: center;
  padding: 174px 200px 100px;
  margin-bottom: 130px;

}

.hero-container h3 {
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 20px;
}

.hero-container p {
  font-size: 18px;
  font-weight: 400px;
  margin-bottom: 30px;
}

/* Media Query Design */
@media screen and (max-width: 576px) {
  /* Header Styles */

  /* Hero Styles */
  .hero-container {
    padding: 50px 100px 100px;
  }

  .hero-container h3 {
    font-size: 35px;
  }

  .hero-container p {
    font-size: 16px;
  }
}